@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
}

html, body {
/*	background-color: #111; */
	color: #eee;
	font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
	font-size: 9pt;
	width: 100%;
	height: auto;
	overflow: hidden;
}

a, a:visited {
	color: crimson;
	text-decoration: none;
}

a:hover, a:active {
	color: white;
	text-decoration: underline;
}

strong {
	color: crimson;
	font-style: normal;
	text-shadow: 0px 0px 5px white;
}

h1 {
	font-family: 'Geo','consolas','Monaco',monospace;
	font-size: 80px;
	font-style: normal;
	font-weight: bold;
	margin: 0px 0px 0px 50px;
}

h2, h3 {
	font-family: 'Geo','consolas','Monaco',monospace;
	font-style: normal;
	font-weight: bold;
}

h2 {
	border-bottom: 5px solid rgba(255, 255, 255, 0.75);
	font-size: 36px;
	margin: 20px;
}

h3 {
	border-left: 12px solid rgba(255, 255, 255, 0.75);
	font-size: 24px;
	margin: 20px 30px;
	padding: 0px 0px 0px 5px;
}

#wrap {
	width: 100%;
	height: 100%;
}

#header {
	line-height: 1.5;
	width: 100%;
	position: fixed;
	top: 0px;
}

#content {
	padding: 150px 0px;
	box-sizing: border-box;
}

#footer {
	line-height: 4;
	text-align: right;
	width: 100%;
	position: fixed;
	bottom: 0px;
}

#footer p {
	margin: 0px 30px 0px 0px;
}

#canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}

#buttons {
	line-height: 4;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#buttons ul {
	list-style: none;
}

#buttons li {
	margin: 0px 3px;
	padding: 0px 10px;
	display: block;
	float: left;
}

.pages {
	background-color: rgba(0, 0, 0, 0.75);
	color: rgba(255, 255, 255, 0.75);
	position: absolute;
	overflow: auto;
}

.view {
	left: 50px;
	transition: left 1s cubic-bezier(1, 0, 0, 1);
}

.hide {
	left: -6999px;
	transition: left 1s cubic-bezier(1, 0, 0, 1);
}

.pages p {
	margin: 10px 40px;
}

